h1 {
    text-align: center;
}

table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
}


#tm {
    border-left: 2px black solid;
    border-right: 2px black solid;
}
#mm {
    border: 2px black solid;
}

#ml {
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

#mr {
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

#bm { 
    border-left: 2px black solid;
    border-right: 2px black solid;
}